.appContainer {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
  .main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    @media only screen and (max-width: 400px) {
      display: block;
    }
    .productsSection {
      padding-top: 0.75rem;
    }
  }
}
